* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
  background: #fff;
}

header {
  width: auto;
  height: 600px;
  border-radius: 16px;
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  background-image:linear-gradient(180deg, #070211 0%,
  rgba(7, 2, 17, 0.00) 80%), url("/resources/Banner\ Image.png");
  margin: 50px 140px 120px 140px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 300px;
}
.greeting-title{
  font-size: 32px;
  font-weight: 400;
  padding-top: 200px;
}
.greeting-info{
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  justify-content: center;
  padding-bottom: 200px;
}